* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header {
  width: 100vw;
  height: 80px;
  background: linear-gradient(to right ,rgb(243, 167, 193),rgb(236, 116, 156),rgb(243, 33, 103));
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*position: fixed;*/
  padding: 10px;
}
main {
  width: 100vw;
  height: calc(100vh - 80px);
  background-color: rgb(24, 23, 22);
  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
}
.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  gap:20px;
}
.song-image{
  width: 280px;
  height: 280px;
  border-radius: 10%;
  background-image: url("image1.jpg");
  background-size:cover;
  background-position: center;
  box-shadow: 1px 2px 5px rgb(146, 129, 112),-1px -2px 5px rgb(146, 129, 112);
}
.volume-div{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  width: 100%;
}
.volume-image{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:transparent;
  box-shadow: 2px 2px 10px rgb(41, 40, 38),-2px -2px 10px rgb(26, 22, 17)  ,-2px -2px 10px rgb(26, 22, 18)  ,2px 2px 10px rgb(26, 23, 19)
}
#volume-range{
  appearance: none;
  width: 30%;
  height: 12%;
  background: linear-gradient(to right,rgb(247, 90, 117),rgb(187, 40, 40));
  border-radius:10px;
  box-shadow:2px 2px 10px rgb(78, 76, 76),-2px -2px 10px black
}
#volume-range::-webkit-slider-thumb{
  appearance: none;
  background-color:rgb(209, 39, 68);
  border:1px solid white;
  width:15px;
  height: 15px;
  border-radius:50%;
  cursor:pointer;
  box-shadow:2px 2px 10px rgb(78, 76, 76),-2px -2px 10px black
}
#volume-range::-webkit-slider-thumb:hover{
  transform:scale(120%);
}
.right{
  width:50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.details{
  width: 80%;
  height: 100px;
  background: transparent;
  box-shadow: 2px 2px 10px rgb(48, 46, 44),-2px -2px 10px rgb(22, 20, 16)  ,-2px -2px 10px rgb(22, 19, 15)  ,2px 2px 10px rgb(22, 20, 17);
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  /*background: linear-gradient(to right rgb(243, 80, 129),rgb(236, 64, 116)  );
  background-clip: text;
  webkit-text-fill-color: transparent;*/
}
#song-name{
  font-size: 20px;
  color: rgb(214, 63, 109);
}
#song-singer{
  font-size: 15px;
  color: white;
}
#song-duration{
  appearance: none;
  width: 60%;
  height: 1%;
  background: linear-gradient(to right,rgb(247, 90, 117),rgb(187, 40, 40));
  border-radius:10px;
  box-shadow:2px 2px 10px rgb(78, 76, 76),-2px -2px 10px black;
  

}
#song-duration::-webkit-slider-thumb{
  appearance: none;
  background-color:rgb(209, 39, 68);
  border:1px solid white;
  width:15px;
  height: 15px;
  border-radius:50%;
  cursor:pointer;
  box-shadow:2px 2px 10px rgb(78, 76, 76),-2px -2px 10px black;
  
}
#song-duration::-webkit-slider-thumb:hover{
  transform:scale(120%);
}
.controls{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.prev-img,.play-pause,.next-img{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:transparent;
  box-shadow: 2px 2px 10px rgb(41, 40, 38),-2px -2px 10px rgb(26, 22, 17)  ,-2px -2px 10px rgb(26, 22, 18)  ,2px 2px 10px rgb(26, 23, 19)
  
}
.prev-img:hover,.play-pause:hover,.next-img:hover{
  box-shadow: inset 2px 2px 10px rgb(54, 53, 52),inset -2px -2px 10px rgb(20, 20, 20)  ,inset -2px -2px 10px rgb(32, 32, 32)  ,inset 2px 2px 10px rgb(20, 20, 19);
  transform:scale(80%);

}
.playlist{
  width: 30%;
  height: 100%;
  position:absolute;
  left:0;
  backdrop-filter: blur(5px);
  background-color: rgba(78, 40, 51, 0.205);
  transform:translateX(-100%);
  transition: all 0.5s;
  box-shadow: 2px 2px 10px rgb(0, 0,0);
  display:flex;
  flex-direction: column;
  gap:10px;
}

.playlist-active{
  transform:translateX(0%);
}
.playlist-song{
  display: flex;
  align-items:center;
  justify-content: start;
  background-color: rgba(224, 127, 143, 0.568);
  gap:10px;
  cursor:pointer;
}
.playlist-song img{
  width: 100px;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 2px 2px 10px rgb(0, 0,0);
}
.playlist-song h2{
  color:rgba(0, 0, 0, 0.507)
}
.song-details{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap:3px;
}
.playlist-song:hover{
  background-color: rgb(221, 143, 156);
}
#playlist-img{
  cursor:pointer;
}
@media (max-width:900px){
  main{
    flex-direction: column;
  }
  .left,.right{
    width: 100%;
  }
  .song-image{
    width: 60vw;
    height: 60vw;
    margin-top:20px ;
  }
  .playlist{
      width:100%;
  }

}

